// Copyright (c) 2019 NCTech Imaging Ltd. All rights reserved.

@import 'vars';

.clp__ {
	&wrp-temp {
		position: fixed;
		top: -10000px;
		left: -10000px;
		width: 1px;
		height: 1px;
	}

	&disp-copied {
		@include shadow-2();

		position: fixed;
		background: $rgb-bg;
		border: 1px solid $rgb-border--trans;
		white-space: nowrap;
		width: auto;
		transform: translateX(-50%);
		pointer-events: none;
		user-select: none;
		height: 24px;
		line-height: 24px;
		border-radius: 3px;
		font-size: 12px;
		z-index: $z-temp-effect;
		display: block;
	}
}
