// Copyright (c) 2020 NCTech Imaging Ltd. All rights reserved.

@import 'vars';

.ui-ctx {
	&__wrp {
		@include shadow-1();

		z-index: $z-context-menu;
		font-size: $sz-font;
		background: $rgb-bg;
		border: 1px solid $rgb-border--trans;
		border-top-color: $rgb-border;
	}

	&__divider {
		height: 1px;
		width: 100%;
		background: $rgb-border;
	}

	&__row {
		cursor: pointer;
		min-width: 160px;

		&:hover {
			background: $rgb-bg--alt;
		}

		&.disabled,
		&.disabled:hover {
			cursor: default;
			background: $rgb-bg;
		}
	}
}
