@import 'vars';

/* region Buttons */
a.btn,
label.btn {
	// Default browser button styling
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	align-items: flex-start;

	// Custom styling
	border: 1px solid $rgb-border;

	&:hover,
	&:focus {
		outline: none;
	}
}

.btn,
a.btn,
label.btn {
	width: initial;
	display: inline-block;
	padding: 6px 12px;
	font-size: $sz-font;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid $rgb-border;

	&-sm {
		padding: 5px 10px;
		font-size: 12px;
		line-height: 1.5;
	}

	&-xs {
		padding: 1px 5px;
		font-size: 12px;
		line-height: 1.5;
	}

	&-xxs {
		padding: 0 2px;
		font-size: 12px;
		line-height: 1.5;
	}

	&.active,
	&--active {
		box-shadow: inset 0 3px 7px #111e;

		&:hover {
			box-shadow: inset 0 5px 10px #111e;
		}
	}

	&[disabled] {
		cursor: not-allowed;
	}

	&-default {
		color: $rgb-font;
		background-color: $rgb-default-btn-bg;
		border-color: $rgb-default-btn-border;

		&focus {
			color: $rgb-font;
			background-color: $rgb-default-btn-bg--active;
			border-color: $rgb-default-btn-border--focus;
		}

		&:hover {
			color: $rgb-font;
			background-color: $rgb-default-btn-bg--active;
			border-color: $rgb-default-btn-border--active;
		}

		&:active {
			color: $rgb-font;
			background-color: $rgb-default-btn-bg--active;
			border-color: $rgb-default-btn-border--active;
		}

		&:active:focus,
		&:active:hover {
			color: $rgb-font;
			background-color: $rgb-default-btn-border--active;
			border-color: $rgb-default-btn-border--focus;
		}

		&[disabled] {
			color: $rgb-font;
			background-color: $rgb-default-btn-bg;
			border-color: $rgb-default-btn-border;
			cursor: not-allowed;
		}
	}

	&-danger {
		color: white;
		background-color: $rgb-danger-btn-bg;
		border-color: $rgb-danger-btn-border;

		&focus {
			color: white;
			background-color: $rgb-danger-btn-bg--active;
			border-color: $rgb-danger-btn-border--focus;
		}

		&:hover {
			color: white;
			background-color: $rgb-danger-btn-bg--active;
			border-color: $rgb-danger-btn-border--active;
		}

		&:active {
			color: white;
			background-color: $rgb-danger-btn-bg--active;
			border-color: $rgb-danger-btn-border--active;
		}

		&:active:focus,
		&:active:hover {
			color: white;
			background-color: $rgb-danger-btn-border--active;
			border-color: $rgb-danger-btn-border--focus;
		}

		&[disabled] {
			color: white;
			background-color: $rgb-danger-btn-bg;
			border-color: $rgb-danger-btn-border;
			cursor: not-allowed;
		}
	}

	&-success {
		color: white;
		background-color: $rgb-success-btn-bg;
		border-color: $rgb-success-btn-border;

		&:focus {
			color: white;
			background-color: $rgb-success-btn-bg--active;
			border-color: $rgb-success-btn-border--focus;
		}

		&:hover {
			color: white;
			background-color: $rgb-success-btn-bg--active;
			border-color: $rgb-success-btn-border--active;
		}

		&:active {
			color: white;
			background-color: $rgb-success-btn-bg--active;
			border-color: $rgb-success-btn-border--active;
		}

		&:active:focus,
		&:active:hover {
			color: white;
			background-color: $rgb-success-btn-border--active;
			border-color: $rgb-success-btn-border--focus;
		}

		&[disabled] {
			color: white;
			background-color: $rgb-success-btn-bg;
			border-color: $rgb-success-btn-border;
			cursor: not-allowed;
		}
	}

	&-warning {
		color: white;
		background-color: $rgb-warning-btn-bg;
		border-color: $rgb-warning-btn-border;

		&:focus {
			color: white;
			background-color: $rgb-warning-btn-bg--active;
			border-color: $rgb-warning-btn-border--focus;
		}

		&:hover {
			color: white;
			background-color: $rgb-warning-btn-bg--active;
			border-color: $rgb-warning-btn-border--active;
		}

		&:active {
			color: white;
			background-color: $rgb-warning-btn-bg--active;
			border-color: $rgb-warning-btn-border--active;
		}

		&:active:focus,
		&:active:hover {
			color: white;
			background-color: $rgb-warning-btn-border--active;
			border-color: $rgb-warning-btn-border--focus;
		}

		&[disabled] {
			color: white;
			background-color: $rgb-warning-btn-bg;
			border-color: $rgb-warning-btn-border;
			cursor: not-allowed;
		}
	}

	&-info {
		color: white;
		background-color: $rgb-info-btn-bg;
		border-color: $rgb-info-btn-border;

		&:focus {
			color: white;
			background-color: $rgb-info-btn-bg--active;
			border-color: $rgb-info-btn-border--focus;
		}

		&:hover {
			color: white;
			background-color: $rgb-info-btn-bg--active;
			border-color: $rgb-info-btn-border--active;
		}

		&:active {
			color: white;
			background-color: $rgb-info-btn-bg--active;
			border-color: $rgb-info-btn-border--active;
		}

		&:active:focus,
		&:active:hover {
			color: white;
			background-color: $rgb-info-btn-border--active;
			border-color: $rgb-info-btn-border--focus;
		}

		&[disabled] {
			color: white;
			background-color: $rgb-info-btn-bg;
			border-color: $rgb-info-btn-border;
			cursor: not-allowed;
		}
	}
}
/* endregion */

input.form-control,
textarea.form-control, {
	color: $rgb-font;
	border: 1px solid $rgb-border;
	padding: 2px;
	font-size: $sz-font;

	&:hover {
		outline: 0;
		border: 1px solid $rgb-border--hover;
	}

	&:focus,
	&:active {
		outline: 0;
		border: 1px solid $rgb-border--active;
	}
}

select.form-control {
	color: $rgb-font;
	border: 1px solid $rgb-border;
	font-size: $sz-font;
	background: $rgb-bg;
}

.input-xs,
input[type=text].input-xs {
	height: 22px;
}

.input-group {
	/* Border rounding left commented out as a sample for later re-use. */
	input.form-control,
	label,
	button {
		border-radius: 0;
		border-right: 0;

		&:first-child {
			//border-top-left-radius: 3px;
			//border-bottom-left-radius: 3px;
		}

		&:last-child {
			//border-top-right-radius: 3px;
			//border-bottom-right-radius: 3px;
			border-right: 1px solid #aaa;
		}
	}

	// The first horizontal row in multiple vertically-stacked input-group rows
	&--top {
		input.form-control,
		label,
		button {
			&:first-child {
				border-bottom-left-radius: 0;
			}

			&:last-child {
				border-bottom-right-radius: 0;
			}
		}
	}

	&--middle {
		input.form-control,
		label,
		button {
			border-top: 0;

			&:first-child {
				border-radius: 0;
			}

			&:last-child {
				border-radius: 0;
			}
		}
	}

	&--bottom {
		input.form-control,
		label,
		button {
			border-top: 0;

			&:first-child {
				border-top-left-radius: 0;
			}

			&:last-child {
				border-top-right-radius: 0;
			}
		}
	}
}

/* region Text */
.text- {
	&danger {
		color: $rgb-danger-font;
	}

	&warning {
		color: $rgb-warning-font;
	}

	&success {
		color: $rgb-success-font;
	}

	&info {
		color: $rgb-info-font;
	}
}
/* endregion */
