.row {
	width: 100%;
	display: flex;
}

%col-base {
	position: relative;
	min-height: 1px;
}

.col-12 {
	@extend %col-base;
	width: 100% !important;
}

.col-11 {
	@extend %col-base;
	width: 91.66666666666667% !important;
}

.col-11-9 {
	@extend %col-base;
	width: 99.16666666666667% !important;
}

.col-11-8 {
	@extend %col-base;
	width: 98.33333333333333% !important;
}

.col-11-7 {
	@extend %col-base;
	width: 97.5% !important;
}

.col-11-6 {
	@extend %col-base;
	width: 96.66666666666667% !important;
}

.col-11-5 {
	@extend %col-base;
	width: 95.83333333333333% !important;
}

.col-11-4 {
	@extend %col-base;
	width: 95% !important;
}

.col-11-3 {
	@extend %col-base;
	width: 94.16666666666667% !important;
}

.col-11-2 {
	@extend %col-base;
	width: 93.33333333333333% !important;
}

.col-11-1 {
	@extend %col-base;
	width: 92.5% !important;
}

.col-10 {
	@extend %col-base;
	width: 83.33333333333333% !important;
}

.col-10-9 {
	@extend %col-base;
	width: 90.83333333333333% !important;
}

.col-10-8 {
	@extend %col-base;
	width: 90% !important;
}

.col-10-7 {
	@extend %col-base;
	width: 89.16666666666667% !important;
}

.col-10-6 {
	@extend %col-base;
	width: 88.33333333333333% !important;
}

.col-10-5 {
	@extend %col-base;
	width: 87.5% !important;
}

.col-10-4 {
	@extend %col-base;
	width: 86.66666666666667% !important;
}

.col-10-3 {
	@extend %col-base;
	width: 85.83333333333333% !important;
}

.col-10-2 {
	@extend %col-base;
	width: 85% !important;
}

.col-10-1 {
	@extend %col-base;
	width: 84.16666666666667% !important;
}

.col-9 {
	@extend %col-base;
	width: 75% !important;
}

.col-9-9 {
	@extend %col-base;
	width: 82.5% !important;
}

.col-9-8 {
	@extend %col-base;
	width: 81.66666666666667% !important;
}

.col-9-7 {
	@extend %col-base;
	width: 80.83333333333333% !important;
}

.col-9-6 {
	@extend %col-base;
	width: 80% !important;
}

.col-9-5 {
	@extend %col-base;
	width: 79.16666666666667% !important;
}

.col-9-4 {
	@extend %col-base;
	width: 78.33333333333333% !important;
}

.col-9-3 {
	@extend %col-base;
	width: 77.5% !important;
}

.col-9-2 {
	@extend %col-base;
	width: 76.66666666666667% !important;
}

.col-9-1 {
	@extend %col-base;
	width: 75.83333333333333% !important;
}

.col-8 {
	@extend %col-base;
	width: 66.666666666666667% !important;
}

.col-8-9 {
	@extend %col-base;
	width: 74.16666666666667% !important;
}

.col-8-8 {
	@extend %col-base;
	width: 73.33333333333333% !important;
}

.col-8-7 {
	@extend %col-base;
	width: 72.5% !important;
}

.col-8-6 {
	@extend %col-base;
	width: 71.66666666666667% !important;
}

.col-8-5 {
	@extend %col-base;
	width: 70.83333333333333% !important;
}

.col-8-4 {
	@extend %col-base;
	width: 70% !important;
}

.col-8-3 {
	@extend %col-base;
	width: 69.16666666666667% !important;
}

.col-8-2 {
	@extend %col-base;
	width: 68.33333333333333% !important;
}

.col-8-1 {
	@extend %col-base;
	width: 67.5% !important;
}

.col-7 {
	@extend %col-base;
	width: 58.33333333333333% !important;
}

.col-7-9 {
	@extend %col-base;
	width: 65.83333333333333% !important;
}

.col-7-8 {
	@extend %col-base;
	width: 65% !important;
}

.col-7-7 {
	@extend %col-base;
	width: 64.16666666666667% !important;
}

.col-7-6 {
	@extend %col-base;
	width: 63.33333333333333% !important;
}

.col-7-5 {
	@extend %col-base;
	width: 62.5% !important;
}

.col-7-4 {
	@extend %col-base;
	width: 61.66666666666667% !important;
}

.col-7-3 {
	@extend %col-base;
	width: 60.83333333333333% !important;
}

.col-7-2 {
	@extend %col-base;
	width: 60% !important;
}

.col-7-1 {
	@extend %col-base;
	width: 59.16666666666667% !important;
}

.col-6 {
	@extend %col-base;
	width: 50% !important;
}

.col-6-9 {
	@extend %col-base;
	width: 57.5% !important;
}

.col-6-8 {
	@extend %col-base;
	width: 56.66666666666667% !important;
}

.col-6-7 {
	@extend %col-base;
	width: 55.83333333333333% !important;
}

.col-6-6 {
	@extend %col-base;
	width: 55% !important;
}

.col-6-5 {
	@extend %col-base;
	width: 54.16666666666667% !important;
}

.col-6-4 {
	@extend %col-base;
	width: 53.33333333333333% !important;
}

.col-6-3 {
	@extend %col-base;
	width: 52.5% !important;
}

.col-6-2 {
	@extend %col-base;
	width: 51.66666666666667% !important;
}

.col-6-1 {
	@extend %col-base;
	width: 50.83333333333333% !important;
}

.col-5 {
	@extend %col-base;
	width: 41.66666666666667% !important;
}

.col-5-9 {
	@extend %col-base;
	width: 49.16666666666667% !important;
}

.col-5-8 {
	@extend %col-base;
	width: 48.33333333333333% !important;
}

.col-5-7 {
	@extend %col-base;
	width: 47.5% !important;
}

.col-5-6 {
	@extend %col-base;
	width: 46.66666666666667% !important;
}

.col-5-5 {
	@extend %col-base;
	width: 45.83333333333333% !important;
}

.col-5-4 {
	@extend %col-base;
	width: 45% !important;
}

.col-5-3 {
	@extend %col-base;
	width: 44.16666666666667% !important;
}

.col-5-2 {
	@extend %col-base;
	width: 43.33333333333333% !important;
}

.col-5-1 {
	@extend %col-base;
	width: 42.5% !important;
}

.col-4 {
	@extend %col-base;
	width: 33.33333333333333% !important;
}

.col-4-9 {
	@extend %col-base;
	width: 40.83333333333333% !important;
}

.col-4-8 {
	@extend %col-base;
	width: 40% !important;
}

.col-4-7 {
	@extend %col-base;
	width: 39.16666666666667% !important;
}

.col-4-6 {
	@extend %col-base;
	width: 38.33333333333333% !important;
}

.col-4-5 {
	@extend %col-base;
	width: 37.5% !important;
}

.col-4-4 {
	@extend %col-base;
	width: 36.66666666666667% !important;
}

.col-4-3 {
	@extend %col-base;
	width: 35.83333333333333% !important;
}

.col-4-2 {
	@extend %col-base;
	width: 35% !important;
}

.col-4-1 {
	@extend %col-base;
	width: 34.16666666666667% !important;
}

.col-3 {
	@extend %col-base;
	width: 25% !important;
}

.col-3-9 {
	@extend %col-base;
	width: 32.5% !important;
}

.col-3-8 {
	@extend %col-base;
	width: 31.66666666666667% !important;
}

.col-3-7 {
	@extend %col-base;
	width: 30.83333333333333% !important;
}

.col-3-6 {
	@extend %col-base;
	width: 30% !important;
}

.col-3-5 {
	@extend %col-base;
	width: 29.16666666666667% !important;
}

.col-3-4 {
	@extend %col-base;
	width: 28.33333333333333% !important;
}

.col-3-3 {
	@extend %col-base;
	width: 27.5% !important;
}

.col-3-2 {
	@extend %col-base;
	width: 26.66666666666667% !important;
}

.col-3-1 {
	@extend %col-base;
	width: 25.83333333333333% !important;
}

.col-2 {
	@extend %col-base;
	width: 16.66666666666667% !important;
}

.col-2-9 {
	@extend %col-base;
	width: 24.16666666666667% !important;
}

.col-2-8 {
	@extend %col-base;
	width: 23.33333333333333% !important;
}

.col-2-7 {
	@extend %col-base;
	width: 22.5% !important;
}

.col-2-6 {
	@extend %col-base;
	width: 21.66666666666667% !important;
}

.col-2-5 {
	@extend %col-base;
	width: 20.83333333333333% !important;
}

.col-2-4 {
	@extend %col-base;
	width: 20% !important;
}

.col-2-3 {
	@extend %col-base;
	width: 19.16666666666667% !important;
}

.col-2-2 {
	@extend %col-base;
	width: 18.33333333333333% !important;
}

.col-2-1 {
	@extend %col-base;
	width: 17.5% !important;
}

.col-1 {
	@extend %col-base;
	width: 8.33333333333333% !important;
}

.col-1-9 {
	@extend %col-base;
	width: 15.83333333333333% !important;
}

.col-1-8 {
	@extend %col-base;
	width: 15% !important;
}

.col-1-7 {
	@extend %col-base;
	width: 14.16666666666667% !important;
}

.col-1-6 {
	@extend %col-base;
	width: 13.33333333333333% !important;
}

.col-1-5 {
	@extend %col-base;
	width: 12.5% !important;
}

.col-1-4 {
	@extend %col-base;
	width: 11.66666666666667% !important;
}

.col-1-3 {
	@extend %col-base;
	width: 10.83333333333333% !important;
}

.col-1-2 {
	@extend %col-base;
	width: 10% !important;
}

.col-1-1 {
	@extend %col-base;
	width: 9.16666666666667% !important;
}

.col-0-9 {
	@extend %col-base;
	width: 7.5% !important;
}

.col-0-8 {
	@extend %col-base;
	width: 6.66666666666667% !important;
}

.col-0-7 {
	@extend %col-base;
	width: 5.83333333333333% !important;
}

.col-0-6 {
	@extend %col-base;
	width: 5% !important;
}

.col-0-5 {
	@extend %col-base;
	width: 4.16666666666667% !important;
}

.col-0-4 {
	@extend %col-base;
	width: 3.33333333333333% !important;
}

.col-0-3 {
	@extend %col-base;
	width: 2.5% !important;
}

.col-0-2 {
	@extend %col-base;
	width: 1.66666666666667% !important;
}

.col-0-1 {
	@extend %col-base;
	width: 0.83333333333333% !important;
}
