// Copyright (c) 2020 NCTech Imaging Ltd. All rights reserved.

@import 'vars';

.ui-json__ {
	&lst {
		counter-reset: cnt-json-list -1;
		list-style: none;
		padding-left: 0;
	}

	&li {
		counter-increment: cnt-json-list;
		position: relative;

		&::before {
			content: '[' counter(cnt-json-list) ']';
			font-family: monospace;
			font-size: 9px;
			position: absolute;
			left: -18px;
			display: flex;
			height: 100%;
			align-items: center;
			color: $rgb-font--muted;
		}
	}

	&sect {
		border-bottom: 1px solid $rgb-border--trans;
		overflow: auto;

		&:last-child {
			border-bottom: 0;
		}
	}

	&wrp-history {
		background: $rgb-bg--alt;
		min-height: 29px;
	}

	&btn-history {
		border-radius: 0;
		padding: 0 4px;
	}

	&wrp-section-btns {
		> .btn {
			border-top: 0;
		}
	}
}
