// Copyright (c) 2019 NCTech Imaging Ltd. All rights reserved.

@import 'vars';

.ui- {
	&modal__ {
		&bg {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background: $rgb-bg-dark--trans;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&fg {
			@include shadow-1();

			max-width: 80vw;
			max-height: 80vh;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			background: white;
			border: 1px solid $rgb-border--trans;
			border-top-color: $rgb-border;

			&--mxw-600p {
				max-width: 600px;
			}

			&--mxh-400p {
				max-height: 400px;
			}
		}

		&active {
			overflow: hidden;
		}
	}
}
