// Copyright (c) 2020 NCTech Imaging Ltd. All rights reserved.

@import 'vars';

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: $sz-font;
	color: $rgb-font;
}

* {
	box-sizing: border-box;
}

p {
	margin-top: 0;
	margin-bottom: $spacer * 0.5;
}

code {
	font-size: 93%;
}

kbd {
	padding: 2px 4px;
	font-size: 90%;
	color: white;
	background-color: #444;
	border-radius: 3px;
	box-shadow: inset 0 -2px 0 #0006;
	border-top: 1px solid $rgb-border--trans;
}

hr {
	border: 0;
	border-top: 1px solid $rgb-border;
}

a {
	color: $rgb-font--link;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $rgb-font--link-focus;
		text-decoration: underline;
	}
}

// region Fix checkbox colours on Chrome
input[type='checkbox']:checked {
	// stylelint-disable-next-line
	-webkit-filter: grayscale(100%);
}

input[type='radio']:checked {
	// stylelint-disable-next-line
	-webkit-filter: grayscale(100%);
}
// endregion

input[type='checkbox'],
input[type='radio'] {
	margin: 0;
}

textarea {
	font-family: inherit;
}
