@import 'vars';

.toast {
	@include shadow-1();

	position: fixed;
	z-index: $z-temp-effect;
	top: -50px;
	min-height: 30px;
	min-width: 600px;
	max-width: 850px;
	display: flex;
	width: 90vw;
	right: 0;
	left: 0;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 4px;
	opacity: 1;
	transition: top 0.085s, opacity 0.066s;

	&--animate-enter:nth-of-type(1) {
		top: 5px;
	}

	&--animate-enter:nth-of-type(2) {
		top: 40px;
	}

	&--animate-enter:nth-of-type(3) {
		top: 75px;
	}

	&--animate-enter:nth-of-type(4) {
		top: 110px;
	}

	&--animate-exit {
		opacity: 0;
	}

	&--deleted {
		z-index: $z-temp-effect - 1;
	}

	&__wrp-control {
		flex: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: stretch;
		margin: -5px -5px -5px 0;
	}

	&--type-success {
		color: $rgb-success-font;
		background-color: $rgb-success-bg--pastel;
		border-color: $rgb-success-border--pastel;
	}

	&--type-info {
		color: $rgb-info-font;
		background-color: $rgb-info-bg--pastel;
		border-color: $rgb-info-border--pastel;
	}

	&--type-warning {
		color: $rgb-warning-font;
		background-color: $rgb-warning-bg--pastel;
		border-color: $rgb-warning-border--pastel;
	}

	&--type-danger {
		color: $rgb-danger-font;
		background-color: $rgb-danger-bg--pastel;
		border-color: $rgb-danger-border--pastel;
	}
}
