@import 'vars';

pre,
textarea {
	tab-size: 2;
	margin: 0;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.no-wrap {
	white-space: nowrap !important;
}

.code {
	font-family: monospace !important;
}

.muted {
	color: $rgb-font--muted !important;
}

.small {
	font-size: $sz-font-small !important;
}

.vr {
	width: 1px;
	flex-shrink: 0;
	background: $rgb-border;
}

.flex-wrap {
	display: flex !important;
	flex-wrap: wrap !important;
}

.help {
	cursor: help;
	text-decoration: underline !important;
	text-decoration-style: dotted !important;
}

.help--subtle {
	cursor: help !important;
}

.clickable {
	cursor: pointer !important;

	&--link {
		color: $rgb-font--link;

		&:hover {
			text-decoration: underline;
		}
	}
}

.cursor-copy {
	cursor: copy;
}

.cursor-alias {
	cursor: alias;
}

.smooth-scroll {
	transform: translateZ(0);
}

.no-events {
	pointer-events: none !important;
}

.w-100 {
	width: 100% !important;
}

.w-50 {
	width: 50% !important;
}

.w-initial {
	width: initial !important;
}

.min-w-100 {
	min-width: 100% !important;
}

.min-w-0 {
	min-width: 0 !important;
}

.h-100 {
	height: 100% !important;
}

.min-h-0 {
	min-height: 0 !important;
}

.bold {
	font-weight: bold !important;
}

.italic {
	font-style: italic !important;
}

.no-select {
	user-select: none !important;
}

.resize-vertical {
	resize: vertical !important;
}

.resize-none {
	resize: none !important;
}

.relative {
	position: relative !important;
}

.fixed {
	position: fixed !important;
}

.flex {
	display: flex !important;
}

.block {
	display: block !important;
}

.inline-block {
	display: inline-block !important;
}

.overflow-y-auto {
	overflow-y: auto !important;
}

.overflow-y-scroll {
	overflow-y: scroll !important;
}

.overflow-x-auto {
	overflow-x: auto !important;
}

.overflow-x-scroll {
	overflow-x: scroll !important;
}

.overflow-x-hidden {
	overflow-x: hidden !important;
}

.columns-2 {
	columns: 2;
}

.flex-col {
	display: flex !important;
	flex-direction: column !important;
}

.flex-v-center {
	display: flex !important;
	align-items: center !important;
}

.flex-v-end {
	display: flex !important;
	align-items: flex-end !important;
}

.flex-v-stretch {
	display: flex !important;
	align-items: stretch !important;
}

.flex-v-baseline {
	display: flex !important;
	align-items: baseline !important;
}

.flex-vh-center {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.flex-h-center {
	display: flex !important;
	justify-content: center !important;
}

.flex-h-right {
	display: flex !important;
	justify-content: flex-end !important;
}

.flex-inline-v-center {
	display: inline-flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.grow {
	flex-grow: 1 !important;
}

.no-shrink {
	flex-shrink: 0 !important;
}

.no-grow {
	flex-grow: 0 !important;
}

.flex-1 {
	flex: 1 !important;
}

.flex-2 {
	flex: 2 !important;
}

.flex-3 {
	flex: 3 !important;
}

.flex-4 {
	flex: 4 !important;
}

.flex-5 {
	flex: 5 !important;
}

.split {
	display: flex !important;
	justify-content: space-between !important;
}

.split-v-center {
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.stripe-odd:nth-child(odd),
.stripe-even:nth-child(even) {
	background: $rgb-bg--alt-trans;
}

.hr--dotted {
	border-style: dashed;
}

.hidden {
	display: none !important;
}
