$spacer: 1rem;

$rgb-bg: white;
$rgb-bg--alt: #eee;
$rgb-bg--alt-trans: #eeea;
$rgb-bg--alt--overlay-white: #8881; // Produces a similar color when overlaid on white
$rgb-bg-dark--trans: #8888;
$rgb-font: #222;
$rgb-font--link: #337ab7;
$rgb-font--link-focus: #23527c;
$rgb-font--muted: #777;
$rgb-border: #ccc;
$rgb-border--trans: #ccc9;
$rgb-border--active: #54a5eb;
$rgb-border--hover: #aecce6;
$rgb-highlight: #648780;
$rgb-highlight--trans: #648780aa;
$rgb-shadow: rgba(0, 0, 0, 0.175);
$rgb-glow-active: rgba(0, 107, 196, 0.15);

$rgb-default-btn-bg: $rgb-bg;
$rgb-default-btn-bg--active: #e6e6e6;
$rgb-default-btn-border: $rgb-border;
$rgb-default-btn-border--active: #adadad;
$rgb-default-btn-border--focus: #8c8c8c;

$rgb-success-font: #3c763d;
$rgb-success-bg--pastel: #dff0d8;
$rgb-success-border--pastel: #d6e9c6;
$rgb-success-btn-bg: #5cb85c;
$rgb-success-btn-bg--active: #449d44;
$rgb-success-btn-border: #4cae4c;
$rgb-success-btn-border--active: #398439;
$rgb-success-btn-border--focus: #255625;

$rgb-info-font: #31708f;
$rgb-info-bg--pastel: #d9edf7;
$rgb-info-border--pastel: #bce8f1;
$rgb-info-btn-bg: #5bc0de;
$rgb-info-btn-bg--active: #31b0d5;
$rgb-info-btn-border: #46b8da;
$rgb-info-btn-border--active: #269abc;
$rgb-info-btn-border--focus: #1b6d85;

$rgb-warning-font: #8a6d3b;
$rgb-warning-bg--pastel: #fcf8e3;
$rgb-warning-border--pastel: #faebcc;
$rgb-warning-btn-bg: #f0ad4e;
$rgb-warning-btn-bg--active: #ec971f;
$rgb-warning-btn-border: #eea236;
$rgb-warning-btn-border--active: #d58512;
$rgb-warning-btn-border--focus: #985f0d;

$rgb-danger-font: #a94442;
$rgb-danger-bg--pastel: #f2dede;
$rgb-danger-border--pastel: #ebccd1;
$rgb-danger-btn-bg: #d9534f;
$rgb-danger-btn-bg--active: #c9302c;
$rgb-danger-btn-border: #d43f3a;
$rgb-danger-btn-border--active: #ac2925;
$rgb-danger-btn-border--focus: #761c19;

$sz-font: 14px;
$sz-font-small: 85%;

$z-context-menu: 1100;
$z-temp-effect: 2000;

@mixin shadow-1() {
	box-shadow: 0 6px 12px $rgb-shadow;
}

@mixin shadow-2() {
	box-shadow: 0 3px 6px $rgb-shadow;
}
